/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
} */

body[theme="black"]{
    background-color: #000000;
}

body[theme="black"] .section{
    color: #ffffff;
}

body[theme="cyan"]{
    background-color: #80becc;
}

body[theme="cyan"] .section{
    color: #1f2f3f;
}

body[theme="salmon"]{
    background-color: salmon;
}

body[theme="salmon"] .section{
    color: rgb(80, 71, 37);
}

body[theme="white"]{
    background-color: #ffffff;
}

body[theme="white"] .section{
    color: #000000;
}