:root{
    --salmon: #fa8072;
    --dsalmon: #504725;
    --black: #000000;
    --white: #ffffff;
    --cyan: #AEDEE0;
    --dcyan: #1f2f3f;
    --selection: #EF9D71;
    --scoller-thumb: #424242;
    --scoller-tracker: #E5F1F3;
}

*::selection{
    background-color: var(--selection);
}

body[theme="black"]{
    background-color: var(--black);
}

body[theme="black"] .section{
    color: var(--white);
}

body[theme="cyan"]{
    background-color: var(--cyan);
}

body[theme="cyan"] .section{
    color: var(--dcyan);
}

body[theme="salmon"]{
    background-color: var(--salmon);
}

body[theme="salmon"] .section{
    color: var(--dsalmon);
}

body[theme="white"]{
    background-color: var(--white);
}

body[theme="white"] .section{
    color: var(--black);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--scoller-tracker);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--scoller-thumb);
    border-radius: 6px;
}